*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    background-image: url(../imagens/fundoplanta.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



#lixeiras{
    border: 1px solid black;
    position: relative;
    width: 57%;
    margin: 0 auto;
    height: 300px;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
}

#grade{
    position: absolute;
    width: 1220px;
    height: 600px;
    top: 0px;
    left: 340px;
}

#lixeiras .lixeirareciclavel{
    width: 200px;
    height: 300px;
    margin-left: 15px;
}

#lixeiras .lixeirareciclavel .lixeirasespecifica{
    width: 200px;
    height: 300px;
}

#sacola{
    position: absolute;
    width: 100%;
    height: 302px;
    top: 450px;
    left: 0;
    z-index: 0;
}

#lixos{
    border: black solid 1px;
    position: relative;
    width: 70%;
    height: 183px;
    margin: 0 auto;
    margin-top: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


#lixos .lixosplasticos{
    width: 170px;
    height: 170px;
    margin-left: 58px;
}

#lixos .lixosplasticos .lixosespecificos{
    width: 100%;
    height: 100%;
    
    
}

#lixos .lixosplasticos .lixosespecificos:hover{
   transform: scale(1.1,1.1);
}

#botao{ 
    display: flex;
    flex-direction: column;

    
}

#botao #resetarlixos{
    width: 150px;
    height: 40px;
}

#botao .botoes{
    width: 150px;
    height: 40px;
}

@media(max-width:1366px) {
    #lixeiras{
    border: 1px solid black;
    position: relative;
    width: 57%;
    margin: 0 auto;
    height: 300px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
}

    #lixeiras .lixeirareciclavel .lixeirasespecifica{
    width: 140px;
    height: 300px;
}

    #grade{
    position: absolute;
    width: 950px;
    height: 600px;
    top: 0px;
    left: 205px;
}

#lixos{
    border: black solid 1px;
    position: relative;
    width: 70%;
    height: 183px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sacola{
    position: absolute;
    width: 100%;
    height: 302px;
    top: 316px;
    left: 0;
    z-index: 0;
}
}





